<section id="acerca-de">
    <div id="perfil">
        <img src="../assets/img/fotoPerfil.jpeg" alt="fotoPerfil">
        <h1>Nehuen Napoli</h1>
        <h6>Full Stack Developer Jr</h6>
    </div>
    <div id="present">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat</h5>
    </div>
    <div id="datos">
        <p class="titulo">CONTACTO</p>
        <p><b>Teléfono: </b>3548503173</p>
        <p><b>Email: </b>nehuenanapoli@gmail.com</p>
        <p><b>Vivo en: </b>Córdoba Capital, Argentina</p>
    </div>  
</section>
