<section id="edu-container" class="exp-container">
    <h1>Educación</h1>
    <div class="experiencia">
        <div class="edu-logo">
            <img src="../../../assets/img/itlf.png" alt="itlf">
        </div>
        <div class="titulo">
            <h4>ITLF - <span style="color: rgb(9, 45, 122);">Instituto Técnico La Falda</span></h4>
            <hr style="margin: 0;">
            <p><b>Secundario - Técnico en Programación</b></p>
            <p style="color: grey;">2016 - 2022</p>
        </div>
    </div>
    <div class="experiencia">
        <div class="edu-logo">
            <img src="../../../assets/img/utn.png" alt="utn">
        </div>
        <div class="titulo">
            <h4>UTN - <span style="color: rgb(9, 45, 122);">Ingeniería en Sistemas</span></h4>
            <hr style="margin: 0;">
            <p><b>Facultad Regional de Córdoba</b></p>
            <p style="color: grey;">2023 - ...</p>
        </div>
    </div>
    <div class="experiencia">
        <div class="exp-logo">
            <img src="../../../assets/img/arg-programa.png" alt="arg-programa">
        </div>
        <div class="titulo">
            <h4>Argentina Programa - <span style="color: rgb(9, 45, 122);">Curso de Desarrollo Full Stack Jr</span></h4>
            <hr style="margin: 0;">
            <p><b>INTI (Instituto Nacional de Tecnología Industrial)</b></p>
            <p style="color: grey;">2021 - 2022</p>
        </div>
    </div>  
</section>
