<section id="pro-container" class="exp-container">
    <h1>Proyectos</h1>
    <div class="experiencia" id="proyecto">
        <div class="pro-logo">
            <img src="../assets/img/arg-programa.png" alt="argentinaprograma" height="70vh">
        </div>
        <div class="titulo">
            <h4><span style="color: rgb(9, 45, 122);">Portfolio Web</span></h4>
            <hr style="margin: 0;">
            <p><b>Portfolio Web como proyecto final del curso "Argentina Programa"</b></p>
            <p style="color: grey;">2021 - 2022</p>
            <p><span><b>Link: </b></span><a href="https://github.com/webNehuen/FrontEndMaquetado.git">Proyecto en Github</a></p>
        </div>
    </div>
    <div class="experiencia" id="proyecto">
        <div class="pro-logo">
          <img src="../assets/img/arg-programa.png" alt="argentinaprograma" height="70vh">
        </div>
        <div class="titulo">
            <h4><span style="color: rgb(9, 45, 122);">Portfolio Web</span></h4>
            <hr style="margin: 0;">
            <p><b>Portfolio Web como proyecto final del curso "Argentina Programa"</b></p>
            <p style="color: grey;">2021 - 2022</p>
            <p><span><b>Link: </b></span><a href="https://github.com/webNehuen/FrontEndMaquetado.git">Proyecto en Github</a></p>
        </div>
    </div>
    <div class="experiencia" id="proyecto">
        <div class="pro-logo">
          <img src="../assets/img/arg-programa.png" alt="argentinaprograma" height="70vh">
        </div>
        <div class="titulo">
            <h4><span style="color: rgb(9, 45, 122);">Portfolio Web</span></h4>
            <hr style="margin: 0;">
            <p><b>Portfolio Web como proyecto final del curso "Argentina Programa"</b></p>
            <p style="color: grey;">2021 - 2022</p>
            <p><span><b>Link: </b></span><a href="https://github.com/webNehuen/FrontEndMaquetado.git">Proyecto en Github</a></p>
        </div>
    </div>
</section>
