<section class="exp-container">
    <h1>Experiencia</h1>
    <div class="experiencia">
        <div class="exp-logo">
            <img src="../../../assets/img/witbor.jpeg" alt="witbor">
        </div>
        <div class="titulo">
            <h4>Witbor - <span style="color: rgb(9, 45, 122);">Consultora y desarrolladora de software</span></h4>
            <hr style="margin: 0;">
            <p><b>BI Publisher Developer</b></p>
            <p style="color: grey;">2021 - 2022</p>
        </div>
    </div>
    <div class="experiencia">
        <div class="exp-logo">
            <img src="../../../assets/img/witbor.jpeg" alt="witbor">
        </div>
        <div class="titulo">
            <h4>Witbor - <span style="color: rgb(9, 45, 122);">Consultora y desarrolladora de software</span></h4>
            <hr style="margin: 0;">
            <p><b>BI Publisher Developer</b></p>
            <p style="color: grey;">2021 - 2022</p>
        </div>
    </div>
    <div class="experiencia">
        <div class="exp-logo">
            <img src="../../../assets/img/witbor.jpeg" alt="witbor">
        </div>
        <div class="titulo">
            <h4>Witbor - <span style="color: rgb(9, 45, 122);">Consultora y desarrolladora de software</span></h4>
            <hr style="margin: 0;">
            <p><b>BI Publisher Developer</b></p>
            <p style="color: grey;">2021 - 2022</p>
        </div>
    </div>  
</section>
