<app-header></app-header>

<section id="banner">

</section>

<section id="acerca-de">
        <div id="perfil">
            <img src="../assets/img/fotoPerfil.jpeg" alt="fotoPerfil">
            <h1>Nehuen Napoli</h1>
            <h6>Full Stack Developer Jr</h6>
        </div>
        <div id="present">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat</h5>
        </div>
        <div id="datos">
            <p class="titulo">CONTACTO</p>
            <p><b>Teléfono: </b>3548503173</p>
            <p><b>Email: </b>nehuenanapoli@gmail.com</p>
            <p><b>Vivo en: </b>Córdoba Capital, Argentina</p>
        </div>  
</section>
    
<hr style="margin-bottom: 0;">

<section class="exp-container">
        <h1>Experiencia</h1>
        <div class="experiencia">
            <div class="exp-logo">
                <img src="../assets/img/witbor.jpeg" alt="witbor">
            </div>
            <div class="titulo">
                <h4>Witbor - <span style="color: rgb(9, 45, 122);">Consultora y desarrolladora de software</span></h4>
                <hr style="margin: 0;">
                <p><b>BI Publisher Developer</b></p>
                <p style="color: grey;">2021 - 2022</p>
            </div>
        </div>
        <div class="experiencia">
            <div class="exp-logo">
              <img src="../assets/img/witbor.jpeg" alt="witbor">
            </div>
            <div class="titulo">
                <h4>Witbor - <span style="color: rgb(9, 45, 122);">Consultora y desarrolladora de software</span></h4>
                <hr style="margin: 0;">
                <p><b>BI Publisher Developer</b></p>
                <p style="color: grey;">2021 - 2022</p>
            </div>
        </div>
        <div class="experiencia">
            <div class="exp-logo">
              <img src="../assets/img/witbor.jpeg" alt="witbor">
            </div>
            <div class="titulo">
                <h4>Witbor - <span style="color: rgb(9, 45, 122);">Consultora y desarrolladora de software</span></h4>
                <hr style="margin: 0;">
                <p><b>BI Publisher Developer</b></p>
                <p style="color: grey;">2021 - 2022</p>
            </div>
        </div>  
</section>

<section id="edu-container" class="exp-container">
        <h1>Educación</h1>
        <div class="experiencia">
            <div class="edu-logo">
                <img src="../assets/img/itlf.png" alt="itlf">
            </div>
            <div class="titulo">
                <h4>ITLF - <span style="color: rgb(9, 45, 122);">Instituto Técnico La Falda</span></h4>
                <hr style="margin: 0;">
                <p><b>Secundario - Técnico en Programación</b></p>
                <p style="color: grey;">2016 - 2022</p>
            </div>
        </div>
        <div class="experiencia">
            <div class="edu-logo">
              <img src="../assets/img/utn.png" alt="utn">
            </div>
            <div class="titulo">
                <h4>UTN - <span style="color: rgb(9, 45, 122);">Ingeniería en Sistemas</span></h4>
                <hr style="margin: 0;">
                <p><b>Facultad Regional de Córdoba</b></p>
                <p style="color: grey;">2023 - ...</p>
            </div>
        </div>
        <div class="experiencia">
            <div class="exp-logo">
              <img src="../assets/img/arg-programa.png" alt="arg-programa">
            </div>
            <div class="titulo">
                <h4>Argentina Programa - <span style="color: rgb(9, 45, 122);">Curso de Desarrollo Full Stack Jr</span></h4>
                <hr style="margin: 0;">
                <p><b>INTI (Instituto Nacional de Tecnología Industrial)</b></p>
                <p style="color: grey;">2021 - 2022</p>
            </div>
        </div>  
</section>

<section id="hab-container" class="exp-container">
        <h1>Hard & Soft Skills</h1>
        <div class="skills" id="skills1">
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <p>SQL<p>
                        <div id="numberSQL"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                    </defs>
                    <circle id="sql" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <p>Java<p>
                        <div id="numberJava"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                    </defs>
                    <circle id="java" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <p>PHP<p>
                        <div id="numberPHP"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                    </defs>
                    <circle id="php" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
            </div>
        </div>
        <div class="skills" id="skills2">
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <p>JavaScript<p>
                        <div id="numberJavaScript"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                    </defs>
                    <circle id="javaScript" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <p>HTML<p>
                        <div id="numberHTML"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                    </defs>
                    <circle id="html" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <p>CSS<p>
                        <div id="numberCSS"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                    </defs>
                    <circle id="css" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
            </div>
        </div>
</section>

<section id="pro-container" class="exp-container">
        <h1>Proyectos</h1>
        <div class="experiencia" id="proyecto">
            <div class="pro-logo">
                <img src="../assets/img/arg-programa.png" alt="argentinaprograma" height="70vh">
            </div>
            <div class="titulo">
                <h4><span style="color: rgb(9, 45, 122);">Portfolio Web</span></h4>
                <hr style="margin: 0;">
                <p><b>Portfolio Web como proyecto final del curso "Argentina Programa"</b></p>
                <p style="color: grey;">2021 - 2022</p>
                <p><span><b>Link: </b></span><a href="https://github.com/webNehuen/FrontEndMaquetado.git">Proyecto en Github</a></p>
            </div>
        </div>
        <div class="experiencia" id="proyecto">
            <div class="pro-logo">
              <img src="../assets/img/arg-programa.png" alt="argentinaprograma" height="70vh">
            </div>
            <div class="titulo">
                <h4><span style="color: rgb(9, 45, 122);">Portfolio Web</span></h4>
                <hr style="margin: 0;">
                <p><b>Portfolio Web como proyecto final del curso "Argentina Programa"</b></p>
                <p style="color: grey;">2021 - 2022</p>
                <p><span><b>Link: </b></span><a href="https://github.com/webNehuen/FrontEndMaquetado.git">Proyecto en Github</a></p>
            </div>
        </div>
        <div class="experiencia" id="proyecto">
            <div class="pro-logo">
              <img src="../assets/img/arg-programa.png" alt="argentinaprograma" height="70vh">
            </div>
            <div class="titulo">
                <h4><span style="color: rgb(9, 45, 122);">Portfolio Web</span></h4>
                <hr style="margin: 0;">
                <p><b>Portfolio Web como proyecto final del curso "Argentina Programa"</b></p>
                <p style="color: grey;">2021 - 2022</p>
                <p><span><b>Link: </b></span><a href="https://github.com/webNehuen/FrontEndMaquetado.git">Proyecto en Github</a></p>
            </div>
        </div>
</section>