<section id="hab-container" class="exp-container">
    <h1>Hard & Soft Skills</h1>
    <div class="skills" id="skills1">
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <p>SQL<p>
                    <div id="numberSQL"></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle id="sql" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <p>Java<p>
                    <div id="numberJava"></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle id="java" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <p>PHP<p>
                    <div id="numberPHP"></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle id="php" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
    </div>
    <div class="skills" id="skills2">
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <p>JavaScript<p>
                    <div id="numberJavaScript"></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle id="javaScript" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <p>HTML<p>
                    <div id="numberHTML"></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle id="html" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <p>CSS<p>
                    <div id="numberCSS"></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle id="css" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
    </div>
</section>
