<section id="header">
    <a href="#"><img class="logo" src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" alt="logo"></a>
    <div>
        <ul id="navbar">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a href="login.html" id="login" class="btn btn-outline-warning"><i class="fa-regular fa-user"></i><span>Login</span></a></li>
        </ul>
    </div>
</section>
